.column.users {
    gap: 32px;
}

.users__list__header {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.filter__zone{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.table__row__item {
    display: flex;
}

td {
    text-align: center;
}

th{
    border-top: 1px solid #CBF265;
    border-bottom:1px solid #CBF265;
    padding-top: 7px;
    padding-bottom: 7px;
}