.content__list {
    margin-top: 30px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
}

.advertisement__item {
    height: auto;
    flex-shrink: 0;
    border-radius: 15px;
    background: #737373;
    cursor: pointer; 
    outline: none; 
    transition: 0.2s all; 
}
.advertisement__item:active{
    transform: scale(0.98);
}

.ban_strike__content_container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 10px;
}
.ban_strike__content_item_label {
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}
.ban_strike__content_item_value {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  text-align: left;
  vertical-align: middle;
}

.strike {
    max-width: 560px;
    height: auto;
    flex-shrink: 0;
    border-radius: 15px;
    background: var(--grayscale-nickel, #737373);
}

.ban {
    max-width: 560px;
    height: auto;
    flex-shrink: 0;
    border-radius: 15px;
    background: var(--grayscale-nickel, #737373);
}

.ban_strike__content_container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 10px;
}
.ban_strike__content_item_label {
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}
.ban_strike__content_item_value {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  text-align: left;
  vertical-align: middle;
}

.strike {
    max-width: 560px;
    height: auto;
    flex-shrink: 0;
    border-radius: 15px;
    background: var(--grayscale-nickel, #737373);
}

.ban {
    max-width: 560px;
    height: auto;
    flex-shrink: 0;
    border-radius: 15px;
    background: var(--grayscale-nickel, #737373);
}

.component__content {
    display: flex;
    max-width: 632px;
    max-height: 200px;
    flex-direction: column;
    gap: 8px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.ad__preview {
    width: 209px;
    height: auto;
    flex-shrink: 0;
    border-radius: 15px;
    background: #0BCE83;
}
