body {
    font-family: 'Roboto', sans-serif;
    background: var(--maincolor-secondary, #191919);
}

.container {
    max-width: 1720;
    margin: 0 auto;
}

.logo {
    display: flex;
}

.logo.auth {
    padding: 20px 25px;
}