.heading__C1 {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 118.75% */
}

.heading__C2 {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px; /* 118.75% */
}

.heading__C2.green {
    color: #0BCE83;
}

.heading__A3 {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.heading__B1 {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 115% */
}

.heading__B1.platinum {
    color: var(--grayscale-platinum, #E6E6E6);
}