.header__row {
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header__dropdown {
    display: flex;
    width: 150px;
    padding: 10px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    border-radius: 15px;
    background: var(--grayscale-white, #FFF);
    padding-top: 5px;
}

.header__title__column {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 17px;
}

.header__title {
    color: #FFF;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 28px; /* 70% */
    letter-spacing: 4.4px;
}

