.sidebar__column {
    display: inline-flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    background: #262626;
    height: fit-content;
}

.sidebar__element{
    display: flex;
    height: 50px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    cursor: pointer; 
    outline: none; 
    transition: 0.2s all; 
}
.sidebar__element:active{
    transform: scale(0.98);
}

.sidebar__element.active{
    border-radius: 10px;
    background: #7203FF;
}