.main__container{
    width: 560px;
    height: 560px;

    display: flex;
    align-items: center;
}

.window {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.all__pages__container {
    height: 100%;
    display: flex;

    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out
}