.input {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    flex-shrink: 0;
    width: auto;
    gap: 50px;
    border: 0.5px solid var(--grayscale-raisin-black, #262626);
    background: var(--grayscale-platinum, #E6E6E6);
}


.input.user__search {
    width: 300px;
}
